[Unit]
Description=Your Service Checker Daemon
After=network.target

[Service]
Environment="SERVICES=ypbind,pbs_mom"
ExecStart=/usr/local/bin/check-services.sh
Restart=always
User=username
Group=root

[Install]
WantedBy=multi-user.target