[Unit]
Description=Your Service Checker Daemon
After=network.target

[Service]
Environment="SERVICES_LIST=ypbind"
ExecStart=/usr/local/bin/check-services.sh
Restart=always
StartLimitInterval=1min
User=root
Group=root

[Install]
WantedBy=multi-user.target